
<div class="panel panel-primary">
    <div class="panel-heading">
        Edit {{EditedRegion.Code}} {{EditedRegion.Name}}
    </div>
    <div class="panel-body">
        <form role="form" novalidate angular-validator name="addRegionForm" angular-validator-submit="AddRegion()">
            <div class="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label" for="regionName">Region Name</label>
                            <input type="text" class="form-control" ng-model="EditedRegion.Name" name="regionName" id="regionName" placeholder="Region Name"
                                   validate-on="blur" required required-message="'Region Name is required'">
                        </div>
                        <div class="col-sm-6 selectContainer">
                            <label class="control-label" for="regionCode">Region Code</label>
                            <input type="text" class="form-control" ng-model="EditedRegion.Code" name="regionCode" id="regionCode" placeholder="Region Code"
                                   validate-on="blur" required required-message="'Region Code is required'">
                        </div>
                        <div class="col-xs-4 col-sm-4 selectContainer">
                            <label class="control-label">Select Area</label>
                            <select ng-model="EditedRegion.GwclAreaID" class="form-control black" ng-options="area.ID as area.Name for area in areas" required></select>
                            <input type="hidden" name="GwclAreaID" ng-value="EditedRegion.GwclAreaID" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="nav pull-right" style="display:flex; align-items:center">
            <p><a ng-href="#/gwclregions/" class="btn btn-danger" ng-click="cancelEdit()">Cancel</a></p>
            <p><a ng-href="#/gwclregions/" class="btn btn-primary" ng-click="updateRegion()">Update</a></p>
        </div>
    </div>
</div>