<hr />
<div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a>
    <i class="fa fa-search-plus fa-3x"></i>
    Add new Water Type Option.
</div>
<div class="row">
    <form role="form" novalidate angular-validator name="addOptionForm" angular-validator-submit="AddOption()">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="optionName">Option Name</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newOption.Name" name="optionName" id="optionName" placeholder="Option Name"
                           validate-on="blur" required required-message="'Option Name is required'">

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 selectContainer">
                        <label class="control-label">Option Of</label>
                        <select ng-model="newOption.OptionOf" class="form-control black" ng-options="dataoption.Name as dataoption.Name for dataoption in dataoptions" required></select>
                        <input type="hidden" name="OptionOf" ng-value="newOption.OptionOf" />
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
        </div>
    </form>
    <div class="col-sm-5 col-md-push-1">
        <div class="col-md-12">
            <div class="alert alert-success">
                <ul>
                    <li ng-repeat="message in submission.successMessages track by $index">
                        <strong>{{message}}</strong>
                    </li>
                </ul>
                <strong ng-bind="submission.successMessage"><span class="glyphicon glyphicon-ok"></span> </strong>
            </div>
            <div class="alert alert-danger">
                <ul>
                    <li ng-repeat="error in submission.errorMessages track by $index">
                        <strong>{{error}}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>