<div id="editProductionWrapper">
    <hr>
    <div class="row" >
        <!-- left column -->
        <div class="col-xs-2">
            
        </div>

        <!-- edit form column -->
        <div class="col-xs-8 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-pencil-square-o"></i>
                Edit <strong>{{production.DayToRecord | date: 'mediumDate'}}</strong> production. Make sure you fill all required fields.
            </div>
            <form class="form-horizontal" role="form" novalidate angular-validator name="editProductionForm" angular-validator-submit="UpdateProduction()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 selectContainer">
                            <label class="control-label">Select System</label>
                            <select ng-model="production.WSystemId" class="form-control black" ng-options="wsystem.ID as wsystem.Name for wsystem in wsystems" required></select>
                            <input type="hidden" name="WSystemId" ng-value="production.WSystemId" />
                        </div>
                        <div class="col-xs-4 col-sm-4 selectContainer">
                            <label class="control-label">Select Water Type</label>
                            <select ng-model="production.OptionId" class="form-control black" ng-options="option.ID as option.Name for option in options" required></select>
                            <input type="hidden" name="OptionId" ng-value="production.OptionId" />
                        </div>
                        <div class="col-xs-4 col-sm-4 selectContainer">
                            <label class="control-label">Select Type</label>
                            <select ng-model="production.OptionTypeId" class="form-control black" ng-options="optiontype.ID as optiontype.Name for optiontype in optiontypes" required></select>
                            <input type="hidden" name="OptionTypeId" ng-value="production.OptionTypeId" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="control-label">Today's Date</label>
                            <p class="input-group">
                                <input type="text" class="form-control" name="todaysDate" datepicker-popup="{{format}}" ng-model="production.DateCreated" is-open="datepicker.todayDate" datepicker-options="dateOptions" ng-required="true" datepicker-append-to-body="true" close-text="Close"
                                       validate-on="blur" required required-message="'required'" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'todayDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="col-xs-4">
                            <label class="control-label">Date To Record</label>
                            <p class="input-group">
                                <input type="text" class="form-control" name="dayToRecord" datepicker-popup="{{format}}" ng-model="production.DayToRecord" is-open="datepicker.dtRecord" datepicker-options="dateOptions" ng-required="true" datepicker-append-to-body="true" close-text="Close"
                                       validate-on="blur" required required-message="'required'" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePicker($event,'dtRecord')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="col-xs-4">
                            <label class="control-label">Daily Actual</label>(m&sup3/d)
                            <input class="form-control" type="text" ng-model="production.DailyActual" name="dailyactual"
                                   validate-on="blur" required required-message="'required'">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Comments</label>
                    <textarea class="form-control" ng-model="production.Comment" name="comment" rows="3" />
                </div>
                <br />
                <div class="form-group col-xs-4">
                    <label class="control-label"></label>
                    <div class="">
                        <input type="submit" class="btn btn-primary" value="Update" />
                        <span></span>
                        <a class="btn btn-default" ng-href="#/productions/{{production.ID}}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>