<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Ghana Water Company Ltd.</h4>
            <div class="input-group">
                <input id="inputSearchProductions" type="search" ng-model="filterProductions" class="form-control shortInputSearch" placeholder="Filter, search productions..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="production in Productions | filter:filterProductions">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">
                                <label class="label label-info">{{production.WSystemCode}}</label>&nbsp;
                                <a class="" ng-href="#/productions/{{production.ID}}" title="View {{production.DayToRecord | date: 'mediumDate'}} details">
                                    {{production.DayToRecord | date: 'longDate'}}
                                </a>
                            </h4>
                            Date Recorded: <strong>{{production.DateCreated | date: 'longDate'}}</strong>
                            <br />
                            System: <strong>{{production.WSystem}}</strong>
                            <br />
                            Water Type: <strong>{{production.OptionType}}</strong>
                            <br />
                            Day Actual: <strong>{{production.DailyActual | number}}</strong>m&sup3/d
                            <br />
                            <daily-actual class="label-info">{{production.Comment | limitTo: 25}}...</daily-actual>
                        </div>
                        
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <custom-pager page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>
            </div>
        </div>
    </div>
</div>