<hr />
<div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a>
    <i class="fa fa-search-plus fa-3x"></i>
    Add new Station.
</div>
<div class="row">
    <form role="form" novalidate angular-validator name="addStationForm" angular-validator-submit="AddStation()">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="stationName">Station Name</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newStation.Name" name="stationName" id="stationName" placeholder="Station Name"
                           validate-on="blur" required required-message="'required'">

                </div>
            </div>
            <div class="form-group">
                <label for="stationCode">Station Code</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newStation.StationCode" name="stationCode" id="stationCode" placeholder="Station Code"
                           validate-on="blur" required required-message="'required'">
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 selectContainer">
                        <label class="control-label">Select Region</label>
                        <select ng-model="newStation.GwclRegionId" class="form-control black" ng-options="region.ID as region.Name for region in regions" required ></select>
                        <input type="hidden" name="GwclRegionId" ng-value="newStation.GwclRegionId" />
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
        </div>
    </form>
    <div class="col-sm-5 col-md-push-1">
        <div class="col-md-12">
            <div class="alert alert-success">
                <ul>
                    <content ng-repeat="message in submission.successMessages track by $index">
                        <strong>{{message}}</strong>
                    </content>
                </ul>
                <strong ng-bind="submission.successMessage"><span class="glyphicon glyphicon-ok"></span> </strong>
            </div>
            <div class="alert alert-danger">
                <ul>
                    <content ng-repeat="error in submission.errorMessages track by $index">
                        <strong>{{error}}</strong>
                    </content>
                </ul>
            </div>
        </div>
    </div>
</div>